@model AuthAuthDemo.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>Register A User Here</h2>
<div id="registerContainer" class="container">
    @Html.Partial("_RegisterForm", Model)
</div>

@section styles
{
    @Styles.Render("~/bundles/Styles/register")
}

@section scripts {
    @Scripts.Render("~/bundles/register")
}